@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Playfair+Display:wght@400;500;600;700;800&display=swap');
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif: 'Montserrat', sans-serif;
$enable-rounded:false;
$component-active-bg:black;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.del-btn{
    //display:none;
    transform:scale(0);
    transition: 0.5s;
};
tr:hover .del-btn{
    //display:inline;
    transform:scale(1);
}